dinner_project/db.sqlite3
dinner_project/node_modules
dinner_project/frontend/node_modules
dinner_project/recipes/__pycache__/
dinner_project/recipes/migrations/
dinner_project/__pycache__
*.log
*.pot
*.pyc
.env
.env.staging
__pycache__/
local_settings.py
db.sqlite3
node_modules
# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

package-lock.json
dinner_project/dinner_project/__pycache__/settings.cpython-38.pyc
dinner_project/dinner_project/__pycache__/wsgi.cpython-38.pyc
