{% extends "base.html" %}

{% block content %}

<h1>{{ recipe.name }}</h1>

<h4>Instructions: </h4>

{% if recipe.desc %}
    <p>{{ recipe.desc }}</p>
{% else %}
    <small class="text-muted">No description entered.</small>
{% endif %}

<h4>Ingredients:</h4>

<ul>
    {% for ingredient in recipe.ingredients.all %}
        <li>{{  ingredient.name }}</li>
    {% endfor %}
</ul>

<a class="btn btn-primary" href="{% url 'recipe-edit' recipe.pk%}">EDIT</a>
<a class="btn btn-primary" href="{% url 'recipe-delete' recipe.pk%}">DELETE</a>
{% endblock %}

