{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
    <h1>Recipes</h1>

    <div class="row">
        <div class="col">
            <form class="form-inline" action="{% url 'recipe-results' %}" method="GET">
                <div class="form-group">
                    {{ form|crispy }}
                </div>

                <input class="btn btn-primary mx-2" type="submit" name="filter" value="Filter">
                <input class="btn btn-primary mx-2" type="submit" name="randomize" value="Pick Random">
            </form>
        </div>
    </div>

    {% if object_list %}
    <div class="row">
        {% for recipe in object_list %}
   
            <div class="col-sm-6 my-2">
            <div class="card h-100">
                <div class="card-body">
                    <a href="{{ recipe.get_absolute_url }}"><h5 class="card-title">{{ recipe.name }}</h5></a>

                    {% for ingredient in recipe.ingredients.all %}
                        <span class="badge badge-light">{{ ingredient.name }}</span>
                    {% endfor %}
                    
                </div>  
            </div>
            </div>

        {% endfor %}
    </div>

    {% else %}

    <p>No recipes added yet!</p>

    {% endif %}

    <a class="btn btn-info" href="{% url 'recipe-add' %}">+ New Recipe</a>

{% endblock %}