{% extends "base.html" %}

{% block content %}
    <h1>Recipes</h1>

    <form action="{% url 'recipe-results' %}" method="GET">
        {{ form }}
        <input type="submit" name="filter" value="Filter">
        <input type="submit" name="randomize" value="Pick Random">
    </form>

    {% if object_list %}
    <div class="row">
        {% for recipe in object_list %}
   
            <div class="col-sm-6 my-2">
            <div class="card h-100">
                <div class="card-body">
                    <a href="{{ recipe.get_absolute_url }}"><h5 class="card-title">{{ recipe.name }}</h5></a>

                    {% for ingredient in recipe.ingredients.all %}
                        <span class="badge badge-light">{{ ingredient.name }}</span>
                    {% endfor %}
                    
                </div>  
            </div>
            </div>

        {% endfor %}
    </div>

    {% else %}

    <p>No recipes added yet!</p>

    {% endif %}

    <p>
        <a href="{% url 'recipe-add' %}"><strong>ADD NEW</strong></a>
    </p>

{% endblock %}