{% extends "base.html" %}

{% block content %}
    <h1>Recipes</h1>

    <form action="{% url 'recipe-results' %}" method="GET">
        {{ form }}
        <input type="submit" name="filter" value="Filter">
        <input type="submit" name="randomize" value="Pick Random">
    </form>

    {% if object_list %}

    <ul>
        {% for recipe in object_list %}

            <li>
                <a href="{{ recipe.get_absolute_url }}">{{ recipe.name }}</a>
            </li>

        {% endfor %}
    </ul>

    {% else %}

    <p>No recipes added yet!</p>

    {% endif %}

    <p>
        <a href="{% url 'recipe-add' %}"><strong>ADD NEW</strong></a>
    </p>

{% endblock %}